.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F0F2F5;
  font-family: Arial, sans-serif;
  height: max-content;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

h1 {
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
  color: #333333;
}

.nav-link {
  font-weight: bold;
  color: #333333;
}

.nav-link.active {
  background-color: #007bff;
  color: #FFFFFF;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button {
  display: inline-block;
  margin: 0 auto;
  padding: 10px 20px;
  border: 2px solid #007bff;
  border-radius: 5px;
  background-color: #FFFFFF;
  color: #007bff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #007bff;
  color: #FFFFFF;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.error {
  color: #dc3545;
  font-size: 14px;
  margin-top: 5px;
}

button:first-of-type {
  margin-right: 10px;
}

button:last-of-type {
  margin-left: 10px;
}
